html {
}

section {
  height: 100%;
}

}
.img-gateway:hover {
  opacity: 0.8;
  border: 1px solid #efca08;
  color: #efca08;
  transition: opacity 0.5s ease;
}



/* Site Navigation */
.site-navigation {
  margin: 0 auto;
  max-width: 1280px;
  padding: 30px 1em;
}
.site-header-left {
  display: inline-block;
  text-decoration: none;

}
.site-header-left li {
  line-height: 0;
  display: inline;

}
.site-header-right {
  display: inline-block;
  float: right;
}
.site-header-right li{
  display: inline;
}
.site-header-right li a {
  text-decoration: none;
  margin-left: 20px;
}
.welcome li {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 23px;
  list-style: none;
}

li a {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  color: #333333;
}
.welcome {
  background-color: #00a6a6;
  min-height: 500px;
  width: 100%;
  margin-top: -25px;
}
.welcome-text {
  padding: 0 10px;
}
.welcome h1 {
  color: #FFFFFF;
  font-size: 5rem;
  font-weight: 340;
  margin: 1em 0 40px;
}
a:hover {
  color: #efca08;
  transition: opacity 0.5s ease;

}
a:active {
  color: #efca08;
}

.welcome p {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 30px;
}

h2, h4 {
  font-family: 'Open Sans', Helvetica, sans-serif;

}

button {
  border: none;
}
button:hover {
  cursor: pointer;
}
.button {
  display: inline-block;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.5s ease;
}
.button:hover {
  opacity: 0.75;
  border: 1px solid #efca08;
  color: #efca08;

}
.button-welcome {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
  float: left;

}
.button-download {
  border: 1px solid #00a6a6;
  box-sizing: border-box;
  color: #00a6a6;
  background-color: transparent;
}
.button-contact {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  margin-left: -2.5px;
  margin-right: -2.5px;
  text-transform: none;
  display: inline-block;
}
.about li {
  font-style: italic;
}




.gateways {
  flex: 0 0 50%;                /* width of second flex item in main container */
  display: flex; 
  flex-wrap: nowrap; 
}
.gateways .small-box {
  flex: 0 0 50%;                /* width of smaller items; two max per row */
  width: 100%;
}
.gateways .small-box:hover {
  opacity: 0.8;
  border: 1px solid #efca08;
  color: #efca08;    
}
.gateways img {
  width: 100%;
  opacity: 1;
  transition: opacity 100ms ease;
  border: 1px solid #e9ecef;
}



.contact {
  background-color: #00a6a6;
  min-height: 300px;
  margin-top: 10%;
  margin-bottom: -15px;


}
.contact h1 {
	color: #FFFFFF;
	padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}
.contact p {
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 15px;
}
.contact p a {
  color: #efca08;
  font-weight: bold;
}
.resume-link {
  color: #00a6a6;
}
.resume-link:hover {
  color: #efca08;
}

/* Portrait and Landscape */
/*@media only screen 
  and (max-device-width: 600px) {
    */
@media only screen and (min-width: 900px) {
    
.gateways {
  display: flex; 
  flex-wrap: nowrap; 
}

}
@media only screen and (max-width: 600px) {
    
  .welcome {
    background-color: #00a6a6;
    min-height: 600px;
    width: 100%
  }
  
  }